[Desktop Entry]
Name=海天鹰浏览器
Comment=
Exec=/media/sonichy/job/HY/Linux/Qt/HTYBrowser/HTYBrowser
Icon=/media/sonichy/job/HY/Linux/Qt/HTYBrowser/icon.png
Path=/media/sonichy/job/HY/Linux/Qt/HTYBrowser
Terminal=false
Type=Application
MimeType=
Categories=
